
*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
}

#about-app{
    text-align: center;
}
#about-app .video{
    width: 70%;
    height: 50%;
    margin: 30px auto 0 auto;
}
#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}